*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/* COLOR PALETTE */
    /* header D881E0 */
    /* jumbotron E0D686 */
    /* container B1CEE4 */
    /* main 3686F7 */
    /* footer 7D27F5 */